<h1>Cadastro</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
    <label for="name">NOME:</label>
    <input id="name" type="text" formControlName="name" placeholder="Digite seu nome">
    
    <div>
        <label for="email">EMAIL:</label>
        <input id="email" type="text" formControlName="email" placeholder="Ex:carlos@uol.com.br" autocomplete="off">
        <div *ngIf="f['email'].errors?.['invalidEmail']">Email inválido</div>
        <div *ngIf="f['email'].errors?.['required']">Email é obrigatório</div>
    </div>    
    <label for="senha">SENHA:</label>
    <input id="senha" type="password" formControlName="password" placeholder="Sua senha precisa ter pelo meonos 8 caracteres" autocomplete="new-password">    
    <button type="submit">SALVAR</button>
</form>
